# Copy this file to terraform.tfvars and fill in the values before running terraform apply.

name            = "datarobot"
environment     = "dev" # must be one of: dev, staging, prod
subscription_id = "00000000-0000-0000-0000-000000000000"
location        = "westus2"
domain_name     = "datarobot.example.com"
email_address   = "you@example.com"

tags = {
  managed-by = "terraform"
}
